* {
  box-sizing:border-box;
}

.alignright,
.alignleft {
  float   : none;
  display : block;
  padding : 0;
  margin  : 1em 0;
}

.wp-caption {

  padding    : 0;
  max-width  : 100%;

	img {
    padding : 0 !important;
    margin  : 0 !important;
    width   : 100%;
    height  : auto;
	}

	.wp-caption-text {
    font-size  : 0.6em;
    padding    : 0.5em 1em;
	}

}

@media ( min-width: $grid-small-breakpoint ) {

	.alignleft {
    float  : left;
    margin : 1em 2em 1em 0;
	}

	.alignright {
    float  : right;
    margin : 1em 0 1em 2em;
	}
    
}

@media ( min-width: $grid-medium-breakpoint ) {

}

@media ( min-width: $grid-large-breakpoint ) {

}