html {
  font-family            : $font-family;
  font-size              : 62.5%;
  -webkit-font-smoothing : antialiased;
}

body {
  font-size : $base-font-size;
}

@media ( min-width: $grid-small-breakpoint ) {

  body {
    font-size : $small-font-size;
  }
    
}

@media ( min-width: $grid-medium-breakpoint ) {

  body {
    font-size : $medium-font-size;
  }

}

@media ( min-width: $grid-large-breakpoint ) {

  body {
    font-size : $large-font-size;
  }

}